@charset "UTF-8";

:root {
  --color-1: #507dbe;
  --color-2: #73b4e6;
  --color-3: #afd278;
  --color-4: #eb8c64;
  --color-5: #f596be;
  --color-6: #3d3d3d;
  --color-7: #fbfcf7;
  --color-8: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

/* .line-seed-jp-regular {
  font-family: "LINE Seed JP", sans-serif;
  font-weight: 400;
  font-weight: 700;
  font-weight: 800;
  font-style: normal;
} */

/* .righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

body {
  background: var(--color-7);
  background-image: linear-gradient(0deg, transparent calc(100% - 1px), var(--color-2) calc(100% - 1px)),
                    linear-gradient(90deg, transparent calc(100% - 1px), var(--color-2) calc(100% - 1px));
  background-size: 30px 30px;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;

  font-family: "LINE Seed JP", sans-serif;
  font-weight: 400;
  color: var(--color-6);
  font-size: 1.6rem;
  line-height: 1.75;
  letter-spacing: 0.01em;
}

body a {
    color: var(--color-1);
    text-decoration: underline;
    transition: opacity 0.2s;
}

body a:hover {
    opacity: 0.6;
}

.container-body {
  max-width: 1440px;
  margin: auto;
  border: solid 3px var(--color-1);
  border-width: 0px 3px;
  background: var(--color-7);
}

/* ======== ヘッダー ======== */
header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--color-7);
  border-bottom: solid 3px var(--color-1);

}

.header__mark {
  border-right: solid 3px var(--color-1);
  padding: 10px 2.4%;
}

.header__mark a {
  display: flex;
  align-items: center;
}

.nav {
  background: var(--color-2);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  transform: translateX(100%);
  transition: transform 0.4s;
}

.nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 3px var(--color-8);
}

.nav.active {
  transform: translateX(0);
}

.nav__mark {
  border-right: solid 3px var(--color-8);
  padding: 10px 2.4%;
}

.nav__mark a {
  display: flex;
  align-items: center;
}

.nav__mark--img {
  height: 6rem;
  width: auto;
}

.nav__btn {
  display: flex;
  align-items: center;
  padding-right: 4.8%;
}

.nav__btn--close,
.nav__btn--menu {
  height: 3.6rem;
  width: auto;
  transition: opacity 0.2s;
  cursor: pointer;
}

.nav__btn--close:hover,
.nav__btn--menu:hover {
  opacity: 0.6;
}

.nav__list {
  display: flex;
  flex-direction: column;
  padding: 12px 7.2% 18px;
  height: auto;
}

.nav__list a {
  display: block;
  font-family: "Righteous", sans-serif;
  font-size: 2.4rem;
  line-height: 2;
  color: var(--color-8);
  text-decoration: none;
}

.nav__pc {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: auto;
  background-color: var(--color-1);
  border-radius: 999px;
}

.nav__pc a {
  padding: 0 2rem;
  font-family: "Righteous", sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-8);
  text-decoration: none;
}

.header__btn {
  display: none;
}

@media (max-width: 768px) {
  .header__btn {
    display: flex;
    align-items: center;
    padding-right: 4.8%;
  }
  .nav__pc {
    display: none;
  }
}

/* ======== メイン ======== */
.main-img {
  display: flex;
  align-items: center;
  margin: 60px 0 90px;
  padding: 3%;
}

.main-copy h3 {
  background: var(--color-2);
  border: solid 3px var(--color-1);
  border-width: 3px 0;
  text-align: center;
  line-height: 5;
  color: var(--color-8);
}

.main-article {
  padding: 0 3% 90px;
}

.section-container {
  padding-top: 120px;
}

.section-top {
  display: flex;
  margin-bottom: -1.5rem;
}

.item-title {
  display: flex;
  align-items: center;
  font-family: "Righteous", sans-serif;
  color: var(--color-1);
  font-size: 6rem;
  line-height: 1;
  letter-spacing: 0.05em;
}

.section-bottom {
  /* margin-bottom: 120px; */
  position: relative;
  z-index: 1;
}

.item-titleJa {
  padding: 1.2rem 2.4rem;
  border: solid 3px var(--color-1);
  border-radius: 18px 18px 0px 0px;
  color: var(--color-8);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1;
  letter-spacing: 0.05em;
  /* box-shadow: var(--color-1) 5px 5px 0px; */
}

#ABOUT .item-titleJa {
  background: var(--color-4);
}

#NEWS .item-titleJa {
  background: var(--color-3);
}

#STREAM .item-titleJa {
  background: var(--color-5);
}

#MEMBERS .item-titleJa {
  background: var(--color-2);
}

.item-body {
  padding: 1.8rem 2.4rem;
  background: var(--color-8);
  border: solid 3px var(--color-1);
  border-width: 0px 3px 3px 3px;
  border-radius: 0px 0px 18px 18px;
  /* box-shadow: var(--color-1) 5px 5px 0px; */
}

/* Xが自動生成する要素をコントロール */
/* 本来の550pxより大きくはならないよ */
.x-embed {
    display: flex;
    max-width: 420px !important;
    padding-top: 6px;
}

.about__text {
  padding-bottom: 1.6rem;
}

.tag__text {
  padding-top: 1.6rem;
}

.stream__text {
  padding-bottom: 1.6rem;;
}

.members__text {
  padding-bottom: 1.6rem;;
}

/* ======== メンバー表 ======== */
.container {
  margin: 0 auto;
  padding: 0 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
  padding-bottom: 0.6rem;
}

.card {
  display: flex;
  flex-direction: column;
  background: white;
  border: solid 3px var(--color-1);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

/* 画像ラッパー */
.image-wrap {
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

/* 画像トリミング */
.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-bottom {
  padding: 12px 16px;
  text-align: left;
}

.name {
  font-weight: 700;
  line-height: 1.5;
}

.yomi {
  font-size: 1.2rem;
  line-height: 1.5;
}

.links {
  margin: 6px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}

.roles {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5%;
  margin: 4px -0.5rem 4px;
}

.role {
  font-size: 1.2rem;
  display: inline-flex;
  align-items: center;
  padding: 1px 1.2rem;
  border-radius: 999px;
  /* border: solid 1.5px var(--color-6); */
}

/* アイコン */
/* 共通 */
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
} 

.icon-svg {
  display: block;
  color: var(--text-color-1);
  transition: transform 0.2s ease;
}

/* 個別 */
.icon-svg.x {
  height: 2.1rem;
}

.icon-svg.youtube {
  height: 1.68rem;
}

.icon-svg.twitch {
  height: 2.52rem;
}

.icon-svg.tiktok {
  height: 2.52rem;
}

/* hover */
.icon:hover .icon-svg {
  transform: scale(1.20);
}

/* その他URL */
.other {
  font-size: 1.2rem;
  line-height: 1.25;
  margin-bottom: 10px;
  word-break: break-word;
  overflow-wrap: anywhere;
  transition: transform 0.2s ease;
}

/* ======== 配信スケジュール ======== */
.card-link {
  text-decoration: none;
  color: inherit;
  display: flex;
  transition: transform 0.2s ease;
}

.card-link:hover .card {
  transform: translateY(-3px);
  box-shadow: 3px 4px 8px rgba(0,0,0,0.1);
}

.thumb {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  display: block;
}

.thumb-empty {
  width: 100%;
  aspect-ratio: 16 / 9;
  display: flex;
  background: #AAAAAA;
  font-size: 21px;
  font-weight: 700;
  color: #CCCCCC;
  justify-content: center;
  align-items: center;
}

.StatusDate {
  display: flex;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

.status {
  width: fit-content;
}

.status-ended { 
  background: var(--color-1);  
  color: var(--color-8);
  padding: 0 0.75rem;
  border: solid 1.5px var(--color-1);
  border-radius: 999px;
}
.status-now { 
  background: var(--color-4); 
  color: var(--color-8);
  padding: 0 0.75rem;
  border: solid 1.5px var(--color-1);
  border-radius: 999px;
}
.status-futurePlan { 
  background: var(--color-8); 
  color: var(--color-1);
  padding: 0 0.75rem;
  border: solid 1.5px var(--color-1);
  border-radius: 999px;
}

.title {
  font-size: 1.2rem;
  width: 100%;
  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  overflow: hidden;
  text-overflow: ellipsis;

  word-break: break-word;
}

.empty {
  color: #666;
  font-size: 14px;
}

/* ======== フッター ======== */

footer {
  background: var(--color-1);
  padding: 4.5rem 3%;
}

footer a {
  text-decoration: none;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.footer__logo {
  display: flex;
  font-family: "Righteous", sans-serif;
  color: var(--color-2);
  font-size: 3rem;
  line-height: 1;
  letter-spacing: 0.05em;
}

.footer__link--X {
  display: flex;
  color: var(--color-1);
  font-weight: 700;
  letter-spacing: 0.05em;
  background-color: var(--color-2);
  padding: 0 1.6rem;
  border-radius: 999px;
}

hr.footer-divider {
  background-color: var(--color-2);
  height: 1px;
  border: none;
}

.footer_bottom {
  text-align: center;
  margin-top: 2rem;
  color: var(--color-2);
  font-size: 1.2rem;
  font-weight: 700;
}
